/*
colors:
yellow: (255,205,45) = #FFCD34
gray:(57,48,42) = #39302A
light gray: rgb(149, 129, 115)
orange:(248,147,29) = #F8931D
mat orange:(206,141,62) = #CE8D3E
dark orange:(236,112,22) = #EC7016
font-family: 'Roboto', sans-serif;
font-family: 'Monoton', cursive;
*/
body{
    background-color: #FFCD34;
}
.navbar{
    background-color: #FFCD34;
    height: 100px;
}
.navbar-brand{
    font-size: 50px;
    color: #39302A;
    font-family: 'Monoton', cursive;
}
.imgNav{
    background-color: #FFCD34;
    width: 100px;
    height: 100px;
}
.weatherback{
    background-color: #39302A;
    opacity: 0.8;
    font-family: 'Roboto', sans-serif;
}
.container{
    background-color: #39302A;
    color: #FFCD34;
    font-family: 'Roboto', sans-serif;
}
.location{
    font-size: 72px;
    font-family:'Roboto', sans-serif;
    font-weight: bold; 
}
.display{
    width: 40%;
    height: 50%;
}
.weather{
    font-size: 52px;
    color: #FFCD34;
}
.temperature{
    font-size: 82px;
    color: #FFCD34;
}
#coffee-map {
    height: 500px;
    width: 40%;
}
