/*
colors:
yellow: (255,205,45) = #FFCD34
gray:(57,48,42) = #39302A
light gray: rgb(149, 129, 115)
orange:(248,147,29) = #F8931D
mat orange:(206,141,62) = #CE8D3E
dark orange:(236,112,22) = #EC7016
blue darker: #059896
blue lighter: #67c5c7
font-family: 'Roboto', sans-serif;
font-family: 'Monoton', cursive;
*/
body{
    background-image: url("../images/abstract-art-attractive.jpg"); /* The image used */
    background-color: #FFCD34; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: #39302A;
}
.navbar{
    background-color: #FFCD34;
    height: 100px;
}
.navbar-brand{
    font-size: 50px;
    color: #39302A;
    font-family: 'Monoton', cursive;
}
.imgNav{
    background-color: #FFCD34;
    width: 100px;
    height: 100px;
}
.container{
    background-color: #39302A;
    color: #FFCD34;
    font-family: 'Roboto', sans-serif;
}

#coffee-map {
    height: 500px;
}

.weather-background{
    background-image: url("../images/abstract-art-attractive.jpg"); /* The image used */
    background-color: #FFCD34; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
    color: #39302A;
}
.location{
    font-size: 24px;
    font-family:'Roboto', sans-serif;
    font-weight: bold; 
}
.display{
    width: 50%;
    height: 30%;
}
.weather{
    font-size: 22px;
}
.temperature{
    font-size: 24px;
}

#coffee-map {
    height: 500px;
    width: 40%;
    color: #39302A;
}

.coffeeContainer{
    font-family: 'Roboto', sans-serif;
    font-size: 22px;
    color: #FFCD34;
}

.timer{
    background-color:rgb(138,23,4);
    height: 50px;
    color: #FFCD34;
}

.fetcher-button{
    background-color: #FFCD34;
    color: #39302A;
}

.receiver-button{
    background-color: #FFCD34;
    color: #39302A;
}

.table{
    background-color:#FFCD34;
    color: #39302A;
}

.footer , .push{
    height: 100px;
}
.footer-copyright{
    font-family: 'Monoton', cursive;
    color: #39302A;
    background-color: #FFCD34;
    border-top: 10px solid #39302A;
    margin: 60px;
}